* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Arial, sans-serif;
    background-color: #a0c9f8;
    display: flexbox;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #2d54a8;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 125px; 
}

h1 {
    color:white;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
p {
    color: #333;
}
p {
    font-size: 1.5rem;
    font-weight: bold;
}

.container{


    display: flex;
    justify-content: center;
    padding: auto;
    padding-top: 5%;
}